---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import About from '../components/About.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Skills from '../components/Skills.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import data from '../assets/data.js';
---

<Layout title="Piotr Krawczyk | Web Development">
  <div class="hero"><h1 class="projects-hero">About</h1></div>
  <About />
  <div id="projects" class="hero"><h1 class="projects-hero">Projects</h1></div>
  <div class="projects-grid">
    {
      data.map((project) => (
        <div class="project-card">
          <ProjectCard
            name={project.name}
            url={project.url}
            github={project.github}
            description={project.description}
            technologies={project.technologies}
          />
        </div>
      ))
    }
  </div>
  <div class="hero"><h1 class="projects-hero">Skills</h1></div>
  <Skills />
  <div class="hero"><h1 class="projects-hero">Get In Touch</h1></div>
  <Contact />
</Layout>

<style>
  .hero {
    text-align: center;
  }
  .projects-hero {
    text-align: center;
    font-size: 2rem;
    display: inline-block;
    margin: 0 auto;
    border-bottom: 4px dotted black;
  }

  .project-card {
    margin-bottom: 1.5rem;
  }

  .projects-grid {
    margin: 2rem auto;
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
  }

  @media screen and (max-width: 768px) {
    body {
      padding: 1rem 1rem;
    }
    .projects-grid {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .project-card {
      margin-bottom: 1rem;
    }

    .projects-hero {
      font-size: 1.5rem;
    }

    .hero {
      margin-top: 1rem;
    }
  }
</style>
