---
export interface Props {
  name: string; // name of the project
  url: string; // url to the project
  github: string; // url to the github repo
  description: string; // description of the project
  technologies: string[]; // technologies used in the project
}

const { name, url, github, description, technologies } = Astro.props;
---

<section id="#projects">
  <div class="card">
    <div class="card-top">
      <a href={github}>Github <i class="fa-brands fa-github"></i></a>
      <a href={url}>Live <i class="fa-solid fa-up-right-from-square"></i></a>
    </div>
    <h1><a href={url}>{name}</a></h1>
    <p>{description}</p>
    <div class="card-bottom"><b>{technologies}</b></div>
  </div>
</section>

<style>
  .card {
    max-width: 400px;
    background-color: #f4f4f4;
    padding: 1rem;
    border: 2px solid black;
    box-shadow: black 4px 4px;
  }

  .card-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
  }

  .card-bottom {
    font-size: 14px;
  }

  a:hover {
    color: #b6eada;
  }
</style>
